{% extends "base.html" %}
{% block body %}
<h2>Awards</h2>

<h3>Startup</h3>
<ul>
  <li class="hangingindent">
    <b>People's Choice and Judges Choice, FreeVentures Accelerator:</b> Won on FreeVentures Demo Day for Instant eSports.
  </li>
  <li class="hangingindent">
    <b>Delta Prize, UC Berkeley Sutardja Center for Entrepeneurship and Technology:</b> Won for most progress achieved during 3 month incubation program. (Won for Instant eSports)
  </li>
</ul>
<h3>Security</h3>
<ul>
  <li class="hangingindent">
    <b>2nd Place, National Cyber Security Defense Competition:</b> Multi day competitive simulation of system and network defense against real life adversaries, held in San Antonio, Texas. 
  </li>
  <li class="hangingindent">
    <b>1st Place, Western Regional Cyber Security Defense Competition:</b> Regional competition held in Southern California to qualify for the national championship.
  </li>
</ul>
<h3>Hackathons</h3>
<ul>
  <li class="hangingindent">
    <b>People's Choice Award, Yo Hackathon:</b> Yo Hackathon: Donated 2500 to Watsi by creating simplest charity campaign ever. Recieved press coverage in Business Insider and The Guardian.
  </li>
  <li class="hangingindent">
    <b>2nd Place, Bear Hack:</b> Created web-connected sensor network to remotely detect hazards. System included hardware sensors and configurable alarm notifications. 
  </li>
  <li class="hangingindent">
    <b>Macy's API Prize, LAUNCH Hackathon:</b> Built virtual Macy’s shopping assistant for Pinterest.
  </li>
  <li class="hangingindent">
    <b>1st Place, ABA Startup Simulator:</b> Created demo and business plan and pitched it to a panel of judges.
  </li>
</ul>
{% endblock %}


