{% extends 'base.html' %}
{% block body %}
<p>
I'm currently a student at UC Berkeley studying Electrical Engineering Computer Science, where I've taken an interest tech and entrepreneurship. 
</p><p>
I was a member of the 2015 <a href="http://berke1337.org/" target="_blank">Berke1337</a> squad that won the western region and placed second in the nation at the finals of the <a href="http://www.nationalccdc.org/" target="_blank">National Collegiate Cybersecurity Defense Competition</a>. 
<!-- </p><p> -->
I was also on the founding team of <a href="http://calhacks.io" target="_blank">Cal Hacks</a> and its Executive Director in Spring 2015. In summer, I handed it off to go through <a href="https://www.ycombinator.com/" target="_blank">Y Combinator</a> with my startup, <a href="http://instantesports.com" target="_blank">Instant eSports</a>. In Fall
2016, I left and returned to school to finish my degree. 
</p><p>
For a more complete list of things I've done, check out links/press/resume.
</p>

{% endblock %} 
 
