{% extends "base.html" %}
{% block body %}
<h2>Press</h2>
A few articles about things I've done.

<!-- <h3>Cal Hacks</h3> -->
<!-- <a href="http://www.dailycal.org/2014/10/05/hackers-gather-36-hour-hackathon-california-memorial-stadium/" target="_blank">The Daily Californian </a> -->

<h3>Instant eSports</h3>
<ul>
  <li>
Tech Crunch - "YC-Backed <a href="https://techcrunch.com/2015/06/29/yc-backed-instant-esports-is-espn-for-competitive-gaming/" target="_blank">Instant eSports Is ESPN for Competitive Gaming"</a>
  </li>
  <li>
Smashdig - <a href="http://smashdig.com/artikel/mtgx-keeps-investing-in-esports-partners-with-instant-esport/" target="_blank">"MTGx keeps investing in esports, partner up with Instant eSports"</a>
  </li>
  <li>
Berkeley SCET - <a href="http://scet.berkeley.edu/delta-prize-winner-instant-esports-advances-to-y-combinator/" target="_blank">"Delta Prize winner Instant eSports advances to Y Combinator"</a>
  </li>
  <li>
The Daily Californian - <a href="http://www.dailycal.org/2015/05/03/uber-ceo-shares-entrepreneurship-tips-students/" target="_blank">"Uber CEO visits campus, shares entrepreneurship tips" </a>
  </li>
</ul>

<h3>YoTheWorld</h3>
<ul>
  <li>
Business Insider - <a href="http://www.businessinsider.com/yotheworld-hackathon-idea-2014-7" target="_blank">"You Can Help Save A Four-Year-Old Girl's Life"</a>
  </li>
  <li>
The Guardian - <a href="http://www.theguardian.com/technology/2014/jul/02/yo-app-windows-phone-iftt" target="_blank">"Yo app expands to Windows Phone and gets more useful"</a>
  </li>
</ul>

<h3>Other</h3>
<ul>
  <li>
The Daily Californian - <a href="http://www.dailycal.org/2014/10/05/hackers-gather-36-hour-hackathon-california-memorial-stadium/" target="_blank">"Hackers gather for 36-hour hackathon at California Memorial Stadium"</a>
  </li>
  <li>
berkeleyByte - <a href="http://www.berkeleybyte.com/2013/11/25/bearhack-recap/" target="_blank">"BearHack: Recap"</a>
  </li>
</ul>
{% endblock %}


