<!-- <div id="sidebar-links" class="cutcorner"> -->
<!--     <h3>Personal Links</h3> -->
<!--     <table class="linktable"> -->
<!--         <tr> -->
<!--             <td> -->
<!--         		<a target="_blank" href="http://www.linkedin.com/in/juliamerz">LinkedIn</a> -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td> -->
<!--         		<a target="_blank" href="http://www.github.com/juliamerz">GitHub</a> -->
<!--             </td> -->
<!--         </tr> -->
<!--     </table> -->
<!-- </div> -->
<div id="sidebar-links" class="cutcorner">
    <h2>Personal Links</h2>
    <ul>
      <li>
        <a download="JuliaMerzResume.pdf" href="/static/resume.pdf" target="_blank">Resume</a>
      </li>
      <li>
        		<a target="_blank" href="http://www.linkedin.com/in/juliamerz">LinkedIn</a>
      </li>
      <li>
        		<a target="_blank" href="http://www.github.com/juliamerz">GitHub</a>
      </li>
      <li>
        		<a target="_blank" href="https://twitter.com/thejuliamerz">Twitter</a>
      </li>
    </ul>
</div>
<!-- <div id="sidebar-links" class="cutcorner"> -->
<!--     <h3>Organizations</h3> -->
<!--     <table class="linktable"> -->
<!--         <tr> -->
<!--             <td> -->
<!--         		<a target="_blank" href="http://www.hackersatberkeley.com">Hackers@Berkeley</a> -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td> -->
<!--         		<a target="_blank" href="http://www.calhacks.io">Cal Hacks</a> -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td> -->
<!--         		<a target="_blank" href="http://startup.berkeley.edu">Startup@Berkeley</a> -->
<!--             </td> -->
<!--         </tr> -->
<!--     </table> -->
<!-- </div> -->
